<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_20190305003.Properties.Settings.hospitalConnectionString"
            connectionString="Data Source=DESKTOP-46D1KHQ\SQLEXPRESS02;Initial Catalog=hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_20190305003.Properties.Settings.hospConnectionString"
            connectionString="Data Source=DESKTOP-46D1KHQ\SQLEXPRESS02;Initial Catalog=hosp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>